  <div class="tabs-shell-inner">
    <div 
      class="tab-indicator"
      [style.width.%]="100 / tabCount"
      [style.left.%]="activeIndex * (100 / tabCount)"
    ></div>

    <ul class="tabbar centered">
      <li>
        <button 
          type="button" 
          class="tab-button" 
          [class.cur]="activeTab === 'search'"
          (click)="navigate('search')"
        >
          <i class="fa fa-search"></i> <span>Search</span>
        </button>
      </li>
      <li>
        <button 
          type="button" 
          class="tab-button" 
          [class.cur]="activeTab === 'pokemon'"
          (click)="navigate('pokemon')"
        >
          <span class="pokeball-icon"></span> <span>Pokédex</span>
        </button>
      </li>
      <li>
        <button 
          type="button" 
          class="tab-button" 
          [class.cur]="activeTab === 'types'"
          (click)="navigate('types')"
        >
          <i class="fa fa-tags"></i> <span>Types</span>
        </button>
      </li>
      <li>
        <button 
          type="button" 
          class="tab-button" 
          [class.cur]="activeTab === 'captures'"
          (click)="navigate('captures')"
          [disabled]="!authService.isLoggedIn()"
        >
          <i class="fa fa-trophy"></i> <span>Capturés</span>
        </button>
      </li>
      @if (authService.isLoggedIn()) {
        <li>
          <button 
            type="button" 
            class="tab-button" 
            [class.cur]="activeTab === 'compare'"
            (click)="navigate('compare')"
          >
            <i class="fa fa-balance-scale"></i> <span>Comparer</span>
          </button>
        </li>
      }
    </ul>
  </div>
